/* Optional: Add an overlay to darken the background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Slightly lower than the modal */
}
/* In your App.css or a specific CSS file for MovieDetails */
.modal {
    position: fixed;  /* Position the popup relative to the viewport */
    top: 50%;         /* Center the popup vertically */
    left: 50%;        /* Center the popup horizontally */
    transform: translate(-50%, -50%); /* Adjust position to the exact center */
    background-color:black; /* Set background color */
    padding: 20px;    /* Add some padding */
    z-index: 1000;    /* High z-index to ensure it appears on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for emphasis */
    border-radius: 8px; /* Optional: rounded corners */
    border: 3px solid white;
    display: flex;
    height: 500px;
    width: 800px;
  }

  .modal img {
    border-radius: 8px;
  }

  .details {
    padding: 20px;
  }

  .details h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .details p {
    max-height: 60%;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .btn-container {
    display: flex;
    gap: 2rem;
    position: fixed;
    z-index: 1001;
    height: fit-content;
    right: 10px;
  }

  .modal button {
    background: none;
    border: none;
    top: 0;
    height: 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .modal .heart-red {
    color: red;
  }

  .modal button:hover {
    transform: scale(1.3);
  }

  @media (max-width: 900px) {
    .modal {
        height: 80%;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
    }

    .modal img {
        width: 300px;
        height: 400px;
    }

    .modal button {
        font-size: 2.8rem;
    }

    .btn-container {
        position: relative;
    }
  }

  
  

  
  