.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.search {
    height: 40px;
    width: 400px;
    font-size: 1.3rem;
    background: transparent;
    border: 3px solid white;
    border-right: none;
    color: rgb(255, 255, 255);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-left: 10px;
}

.search-btn {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    background: transparent;
    border: 3px solid white;
    border-left: none;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    cursor: pointer;
    font-size: 1.2rem;
}

.search-container input::placeholder {
    color: white;
}

@media (max-width: 900px) {
    .search-container {
        margin: 30px;
    }
}