* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sat: env(safe-area-inset-top);
  font-family: "Gupter", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070f2b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  max-width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  background: none; /* Remove background from the body itself */
}

body::before {
  content: "";
  position: fixed; /* Use fixed position to cover the entire viewport */
  top: calc(env(safe-area-inset-top) * -1); /* Ensure the background covers the top safe area */
  left: calc(env(safe-area-inset-left) * -1); /* Ensure the background covers the left safe area */
  right: calc(env(safe-area-inset-right) * -1); /* Ensure the background covers the right safe area */
  bottom: calc(env(safe-area-inset-bottom) * -1); /* Ensure the background covers the bottom safe area */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url("/public/movie-collage-poster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px); /* Apply blur to the background image */
  z-index: -1; /* Ensure the pseudo-element is behind all content */
}

